<h1>This is a bunch of useless, so called 'Frequently Asked Questions'</h1>
<hr>
<br>
<p>Q: How do I work this thing?</p>
<p>A: Just think happy thoughts.</p>
<br>
<p>Q: What is the meaning of life, the universe and everything?</p>
<p>A: 42</p>
<br>
<p>Q: What is that smell?</p>
<p>A: Your body odour.</p>

