<h1>This is a bunch of useless, so called Frequently Asked Questions'</h1>
<hr>
<br>
<h3>Q: How do I work this thing?</h3>
<h3>A: It just works!</h3>
<br>
<h3>Q: What is the meaning of the universe and everything?</h3>
<h3>A: 42</h3>
<br>
<h3>Q: What is that smell?</h3>
<h3>A: Your body odour.</h3>